In [1]:
#import pandas library and assign to pd for data manipulation and analysis
import pandas as pd

In [3]:
#The csv file named "Salary_Data.csv" and stores its content in a pandas dataframe then assigned to the variable "dataset" 
dataset = pd.read_csv("Salary_Data.csv")

In [5]:
#The variable "dataset" displays the contents of the pandas dataframe that contains the data read from the csv file named "Salary_Data.csv"

dataset

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [6]:
#The independent varaible loaded the column "YearsExperience" from the "dataset" dataframe and creating a bew dataframe with only that column
independent = dataset[["YearsExperience"]]

In [8]:
#call the action that only the column named "YearsExperience" as the previous code
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [9]:
#the dependent varaible is assigned the column "Salary" from the dataframe and creating a new dataframe with only that column named "Salary"
dependent = dataset[["Salary"]]

In [10]:
dependent

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
10   63218
11   55794
12   56957
13   57081
14   61111
15   67938
16   66029
17   83088
18   81363
19   93940
20   91738
21   98273
22  101302
23  113812
24  109431
25  105582
26  116969
27  112635
28  122391
29  121872

In [12]:
#The function "train_test_split" from sklearn.model_selection module which is used for splitting the dataset into training and testing for machine learning models
from sklearn.model_selection import train_test_split

#The independent and dependent data into training and testing subsets with 70% of the data allocated for training and 30% for testing. The random_state parameter is set to 0 for reroducibility. The subsets are assigned to varaibles X_train,X_test,y_train and y_test.
X_train,X_test,Y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [13]:
#The "Linearregression" imported from sklearn.linear_model which is used for create a linear regression model for predictive analysis.
from sklearn.linear_model import LinearRegression
#The LinearRegression class assigned to the variable "regressor" for make predictions using a linear regression model.
regressor = LinearRegression()

#X_train as the independent variable, and Y_train as the dependent variable, allowing the model to learn and find the best fit for the given training data.
regressor.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
#The variable "weight" means the coefficients(weights) of the linear regression model, which were learned during the fitting process
weight = regressor.coef_
weight

array([[9360.26128619]])

In [17]:
#The "bias" means the intercept(bias) term of the linear regression model, which means the predicted value when all independent variables are zero
bais = regressor.intercept_
bais

array([26777.3913412])

In [19]:
#The variable "y_pred" contains the predicted values of the dependent variable (Salary) based on the linear regression model using the independent variable values (YearsExperience) from the test dataset.
y_pred = regressor.predict(X_test)

In [21]:
# the "r2_score" function imported from the "sklearn.metrics" module, which is used to calculate the R-squared score for evaluating the performance of a regression model.
from sklearn.metrics import r2_score
#The variable "r_score" means the R-squared score, which is a measure of how well the predicted values (y_pred) from the linear regression model match the actual values (y_test) of the dependent variable (Salary) in the test dataset.
r_score = r2_score(y_test, y_pred)

In [22]:
r_score

0.9740993407213511

In [23]:
#imports the "pickle" module and defines the variable "filename" as "finalized_model_linear.sav", which is the filename that will be used to save the trained linear regression model using pickle
import pickle 
filename = "finalized_model_linear.sav"

In [24]:
#The code saves the trained linear regression model (regressor) to a file named "finalized_model_linear.sav" using pickle serialization, which allows the model to be stored and loaded later for future use.
pickle.dump(regressor, open(filename, 'wb'))

In [26]:
#The code loads the trained linear regression model from the file "finalized_model_linear.sav" using pickle and assigns it to the variable "loaded_model". The model can now be used for making predictions or further analysis.
loaded_model = pickle.load(open("finalized_model_linear.sav", 'rb'))
#The "result" contains the predicted value of the dependent variable (Salary) based on the loaded linear regression model ("loaded_model"), using the independent variable value of 13 (YearsExperience) as input.
result = loaded_model.predict([[13]])

In [29]:
#call the action
result

array([[148460.78806172]])